<!-- <app-google-signin> </app-google-signin>     -->
   <!-- Hero Section  -->
   <section id="hero">
    <!-- Hero Container  -->
    <div class="container max-w-6xl mx-auto px-6 py-12 ">
      <!-- Menu/Logo Container  -->
      <nav class="flex items-center justify-between font-bold text-white">
        <!-- Logo  -->
        <img class="w-24 h-16 z-30" src="../../../assets/images/rhs-high-resolution-logo-white-transparent.png" alt="">
        <!-- Menu  -->
        <div class="hidden h-10 font-alata md:flex md:space-x-8">
          <div class="group">
            <a href="#">Home</a>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="group">
            <a href="#">Blog</a>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="group">
            <a href="#">Projects</a>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          <div class="group">
            <a href="#">About</a>
            <div class="mx-2 group-hover:border-b group-hover:border-blue-50"></div>
          </div>
          
        </div>
        <!-- @done Hamburger Button  -->
        <div class="md:hidden">
          <button
            id="menu-btn"
            type="button"
            class="z-40 block hamburger md:hidden focus:outline-none"
          >
            <span class="hamburger-top"></span>
            <span class="hamburger-middle"></span>
            <span class="hamburger-bottom"></span>
          </button>
        </div>
      </nav>
      <!-- Mobile Menu -->
      <div
        id="menu"
        class="absolute overflow-y-auto inset-0 z-20 hidden flex-col items-center self-end w-full h-screen m-h-screen px-6 py-1 pt-24 pb-4 tracking-widest text-white uppercase divide-y divide-gray-500 opacity-90 bg-black"
      >
        <div class="w-full py-3 text-center mt-20">
          <a href="#features" class="block hover:text-softRed">Home</a>
        </div>
        <div class="w-full py-3 text-center">
          <a href="#download" class="block hover:text-softRed">Blog</a>
        </div>
        <div class="w-full py-3 text-center">
          <a href="#faq" class="block hover:text-softRed">Projects</a>
        </div>
        <div class="w-full py-3 text-center">
          <a href="#faq" class="block hover:text-softRed">about</a>
        </div>
        <div class="w-full py-3 text-center">
          <a href="#" class="block hover:text-softRed">Login</a>
        </div>
      </div>

      <div class="max-w-lg mt-32 mb-32 p-4 font-sans text-4xl text-white uppercase
       border-2 md:p-10 md:m-32 md:mx-0 md:text-6xl">
       Impressive Expreriences That Deliver
      </div>
    </div>
  </section>